[Desktop Entry]
Name=Desktop File Search
Comment=Browse and search desktop files with pacman integration
Exec=/home/nandi/code/desktop/zig-out/bin/desktop-file-search
Icon=display-with-window-symbolic
Type=Application
Categories=System;Utility;
Terminal=false
StartupNotify=true